@font-face {
  font-family: 'GraphikLCG_reg';
  src: url(fonts/GraphikLCG-Regular.woff);
}
@font-face {
  font-family: 'GraphikLCG_bold';
  src: url(fonts/GraphikLCG-Bold.woff);
}
@font-face {
  font-family: 'GraphikLCG_black';
  src: url(fonts/GraphikLCG-Black.woff);
}
h1{
  font-family: 'GraphikLCG_black';
}
body{
  overflow-y: hidden;
  background-color: #BBBFCB;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'GraphikLCG_reg';
}
.block-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}
.block{
  position: relative;
  min-width: 660px;
  background-color: #fff;
  padding: 40px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
}
.close{
  position: absolute;
  right: -12px;
  top: -12px;
  transform: rotate(90deg);
}
.title-block{
  font-family: 'GraphikLCG_black';
  text-align: center;
  color: #23272A;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 0;
}
.title-block span{
  color: #5B7EFB;
}
.block_text{
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 28.8px;
}
.block_text a{
  color: #7C98FC;
  text-decoration: none;
  border-bottom: 1px solid #7C98FC;
}
.item{
  margin: 0 auto;
  width: 281px;
  height: 340px;
  overflow: hidden;
  background: rgba(255, 200, 188, 0.8);
  border-radius: 24px;
}
.item_active{
  border: 3px solid #5B7EFB;
}
.btn{
  position: relative;
  margin: 0 auto;
  width: 320px;
  background-color: rgba(91, 126, 251, 0.4);
  border-radius: 100px;
  margin-top: 30px;
  transition: .2s;
}
.active {
  background-color: #5B7EFB;
}
.active:hover{
  background-color: #6485fa;
}
.button{
  padding: 20px 98px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  color: #fff;
  display: flex;
  justify-content: center;
}
.blocker{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.notActive{
  display: none;
}
.erorr{
  background-color: #FF6D6D;
  padding: 14px 32px;
  color: #fff;
  border-radius: 18px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(120px);
  transition: .2s;
  z-index: 999;
}
.erorr_active{
  opacity: 1;
  transform: translateY(0px);
}
.li-before{
  display: flex;
  align-items: center;
}
.link-svg{
  fill: #BBBFCB;
  height: 22px;
  width: 22px;
  margin-left: 3px;
}
@media (max-width:796px) {
  .block{
    width: 100%;
    min-width: 100px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .wrapper{
    width: 100% !important;
    height: 100% !important;
  }
}
@media (max-width:679px) {
  .title-block{
    font-size: 24px;
    line-height: 24px;
  }
  .block_text{
    font-size: 14px;
    line-height: 17px;
  }
  .item{
    width: 215px;
    height: 280px;
  }
  .content p {
    font-size: 12px !important;
  }
}
@media (max-width:562px) {
  .sidebar{
    display: none;
  }
}
@media (max-width:490px) {
  .btn {
    width: 100%;
  }
  .button {
    padding: 13px 0;
  }
  .erorr{
    margin-left: 10px;
    margin-right: 10px;
  }
  .erorr p{
    font-size: 13px;
  }
}
@media (max-width:375px) {
  
  .block{
    padding: 25px;
    border-radius: 35px;
  }
  .lable p{
    margin-top: 5px !important;
    margin-bottom: 0;
    font-size: 12px !important;
  }
  .inputText{
    margin-bottom: 10px !important;
  }
  .inputTextarea{
    margin-bottom: 15px !important;
  }
  .btn{
    margin-top: 15px;
  }
}
@media (max-height:653px) {
  body {
    overflow-y: scroll;
    height: 100% !important;
  }
  .block {
    padding: 25px;
    padding-top: 20px;
    border-radius: 35px;

    margin-top: 30px;
    margin-bottom: 30px;
  }
}
